<h1>質問詳細</h1>
<hr>

<table class="table table-striped">
  <tr>
    <th>No.</th>
    <td><%= @question.no %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @question.title %></td>
  </tr>
  <tr>
    <th>質問タイプ</th>
    <td><%= Settings.question[:types_map][@question.question_type] %></td>
  </tr>
</table>
<hr>
<h3>選択</h3>
<table class="table table-striped">
  <% JSON.parse(@question.text).each do |selection| %>
    <tr>
      <td><%= selection %></td>
    </tr>
  <% end %>
</table>

<hr>
<%= link_to 'アンケート詳細へ戻る', questionnaire_path(@questionnaire), class: 'btn btn-sm btn-success' %>
