<%= form_with(model: questionnaire, local: true) do |f| %>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">タイトル</label>
    <div class="col-sm-10">
      <% if questionnaire.errors.messages[:title].blank? %>
        <%= f.text_field :title, class: 'form-control' %>
      <% else %>
        <%= f.text_field :title, class: 'form-control is-invalid' %>
        <span class="text-danger">
          <%= questionnaire.errors.messages[:title].first %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">開始日</label>
    <div class="col-sm-10">
      <div class="input-group mr-sm-2">
        <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
        <% if questionnaire.errors.messages[:start_date].blank? %>
          <%= f.text_field :start_date, class: 'form-control datepicker' %>
        <% else %>
          <%= f.text_field :start_date, class: 'form-control datepicker is-invalid' %>
        <% end %>
      </div>
      <% if questionnaire.errors.messages[:start_date].present? %>
        <span class="text-danger">
          <%= questionnaire.errors.messages[:start_date].first %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">終了日</label>
    <div class="col-sm-10">
      <div class="input-group mr-sm-2">
        <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
        <% if questionnaire.errors.messages[:end_date].blank? %>
          <%= f.text_field :end_date, class: 'form-control datepicker' %>
        <% else %>
          <%= f.text_field :end_date, class: 'form-control datepicker is-invalid' %>
        <% end %>
      </div>
      <% if questionnaire.errors.messages[:end_date].present? %>
        <span class="text-danger">
          <%= questionnaire.errors.messages[:end_date].first %>
        </span>
      <% end %>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-legend col-sm-2">有効/無効</legend>
      <div class="col-sm-10">
        <label class="custom-control custom-radio">
          <%= f.radio_button :active, true, class: 'custom-control-input your-checkbox' %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">有効</span>
        </label>
        <label class="custom-control custom-radio">
          <%= f.radio_button :active, false, class: 'custom-control-input your-checkbox' %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">無効</span>
        </label>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">コメント</label>
    <div class="col-sm-10">
      <%= f.text_area :comment, class: 'form-control' %>
    </div>
  </div>
  <div class="actions form-group row">
    <div class="offset-sm-2 col-sm-10">
      <%= f.submit '登録する', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<%= link_to 'アンケート一覧へ戻る', questionnaires_path, class: 'btn btn-success btn-sm' %>
