<h1>アンケート一覧</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>有効/無効</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.title %></td>
        <td><%= questionnaire.start_date %></td>
        <td><%= questionnaire.end_date %></td>
        <td>
          <% if questionnaire.active? %>
            有効
          <% else %>
            無効
          <% end %>
        </td>
        <td><%= questionnaire.comment %></td>
        <td>
          <%= link_to questionnaire_path(questionnaire), class: 'btn btn-sm btn-info' do %>
            <i class="fa fa-external-link" aria-hidden="true"></i> 詳細
          <% end %>
          <%= link_to edit_questionnaire_path(questionnaire), class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集
          <% end %>
          <%= link_to questionnaire, method: :delete, data: { confirm: 'アンケートを削除します、よろしいですか？' }, class: 'btn btn-sm btn-danger' do %>
            <i class="fa fa-times" aria-hidden="true"></i> 削除
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questionnaires %>

<hr>
<%= link_to new_questionnaire_path, class: 'btn btn-primary' do %>
  <i class="fa fa-plus" aria-hidden="true"></i> 新規作成
<% end %>
