<p id="notice"><%= notice %></p>

<h1>アンケート</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>コメント</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.title %></td>
        <td><%= questionnaire.start_date %></td>
        <td><%= questionnaire.end_date %></td>
        <td><%= questionnaire.comment %></td>
        <td>
          <%= link_to '編集', edit_questionnaire_path(questionnaire), class: 'btn btn-primary' %>
          <%= link_to '削除', questionnaire, method: :delete, data: { confirm: '削除します、よろしいですか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questionnaires %>

<br>

<%= link_to '新規作成', new_questionnaire_path, class: 'btn btn-primary' %>
