<h1><%= @question.title %></h1>
<hr>
<%= form_with(model: @answer, locale: true, url: questionnaire_question_answers_path(@questionnaire, @question)) do |f| %>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">回答一覧</label>
    <div class="col-sm-10">
      <% question_selection = JSON.parse(@question.text) %>
      <% question_selection.each.with_index(1) do |selection, index| %>
        <label class="custom-control custom-radio">
          <%= f.radio_button :active, index, class: 'custom-control-input' %>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"><%= selection %></span>
        </label>
        <br>
      <% end %>
    </div>
  </div>
<% end %>

<% if @question.first? %>
  <button type="button" class="btn btn-success btn-sm" disabled>
    <i class="fa fa-arrow-left" aria-hidden="true"></i> 前へ
  </button>
<% else %>
  <%= link_to get_ans_question_questionnaire_path(@questionnaire, @question.prev.no), class: 'btn btn-success btn-sm' do %>
    <i class="fa fa-arrow-left" aria-hidden="true"></i> 前へ
  <% end %>
<% end %>

<% if @question.final? %>
  <button type="button" class="btn btn-primary btn-sm">
    <i class="fa fa-check-circle-o" aria-hidden="true"></i> 回答して終了する
  </button>
<% else %>
  <%= link_to get_ans_question_questionnaire_path(@questionnaire, @question.next.no), class: 'btn btn-success btn-sm' do %>
    次へ <i class="fa fa-arrow-right" aria-hidden="true"></i>
  <% end %>
<% end %>

<script type="text/javascript">

</script>
