<p id="notice"><%= notice %></p>

<h1>アンケート詳細</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>開始日</th>
    <th>終了日</th>
  </tr>
  <tr>
    <td><%= @questionnaire.title %></td>
    <td><%= @questionnaire.start_date %></td>
    <td><%= @questionnaire.end_date %></td>
    <td><%= @questionnaire.comment %></td>
  </tr>
</table>

<% if(@questionnaire.questions.present?) %>
<h2>質問一覧</h2>
<table>
  <tr>
    <th>タイトル</th>
    <th>質問タイプ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @questionnaire.questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.question_type %></td>
    <td><%= link_to '詳細', questionnaire_question_path(@questionnaire, question) %></td>
    <td><%= link_to '編集', edit_questionnaire_question_path(@questionnaire, question) %></td>
    <td><%= link_to '削除', questionnaire_question_path(@questionnaire, question), method: :delete, data: { confirm: '削除します、よろしいですか？' } %></td>
  </tr>
  <% end %>
</table>
<% end %>

<%= link_to '質問追加', new_questionnaire_question_path(@questionnaire) %> |
<%= link_to '編集', edit_questionnaire_path(@questionnaire) %> |
<%= link_to '削除', questionnaire_path(@questionnaire), method: :delete, data: { confirm: '削除します、よろしいですか？' } %> |
<%= link_to '戻る', questionnaires_path %>
